*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    max-width: 600px;
    height: 550px;
    margin: auto;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    background-image:linear-gradient(to left, rgba(0, 24, 107, 1), rgba(65, 0, 205, 1));
    border-radius: 25px 25px 0px 0px; 

}



section .img{
    background: url(https://i.pinimg.com/564x/2c/25/30/2c25300d38e4d375ec2d2b9730d2fb58.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 600px;
    height: 250px;
    border-radius: 25px 25px 0px 0px;
   
}

.header h1{
    text-align: center;
    padding-top: 40px;
    font-weight: 100;
    font-size: 20px;
}


.forme{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem ;
    
}
.card{

    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1rem;  
}
label{
    padding-bottom: 5px;
    font-size: 18px;
}

input{
    border: none;
    outline: none;
    background-color: rgba(1, 1, 1, 0);
    border-bottom: 1px solid rgba(28, 21, 42, 0.644);
    font-weight:100;
    letter-spacing: 3px;
    font-size: 16px;
    
}

.butom {
  

}

button{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 11px 30px;
    border: none;
    text-align: center;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 16px;
    margin: auto; 
    background-image: linear-gradient(to right, rgb(106, 0, 255), blue);
    box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.444);
    transition-duration: .5s;
}

button:hover{
  
    background-image: linear-gradient(to right, rgba(73, 34, 127, 0.6), rgba(82, 82, 142, 0.637));
    color: black;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 620px) {
    section .img{
        background-size: cover;
        width: 400px;
        height: 200px;
        border-radius: 25px 25px 0px 0px;
       
    }

    main{
        width: 400px;
        height: 550px;
        
    }
    .header h1{
        padding: 10px;
        

    }
    
    .card{
      padding: 5px;
    }
    

    
}

